* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:fantasy;
}

:root{
    --textcolor:#5a7bd2;
    --bgtext:#fffdd4;
    --bg:#dfdb8b;
    --title: #de6c4c;
}

html{
    scroll-behavior: smooth;
}

section {
    
}

.container {
    width: 90%;
    max-width:1200px;
    margin: auto;
    overflow: hidden;
}

/* /////////////////////// navbar ///////////////////// */
.navbar {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 21px;
    background-color: var(--bg);
    
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    
}

li a {
    color: var(--title);
}

a {
    text-decoration: none;
}

.menu a:hover{
    color: var(--bgtext);
}

/* /////////////////////Myself ///////////////// */

.myself {
    background-color: var(--bgtext);
}

.contents {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.ct-lf img,
.ct-rg img{
    width:250px;
    height:auto;
}

.ct-lf img{

}

.ct-center {
    text-align: center;
    margin: 20px;
    align-self:start;
}
.ct-text{
}

.ct-text h1{
    font-size: 60px;
    color: var(--textcolor);
}

.ct-text p{
    color: var(--textcolor);
    margin-bottom: 20px;
}

.ct-text a{
    padding: 8px 16px;
    color: var(--bg);
    border-radius:30px ;
    background-color:var(--title);
}

.ct-text a:hover{
    color: var(--bgtext);
}
/* ///////////////// memory //////////////////// */

.memory {
    background-color: var(--textcolor);
    padding: 50px 0;
}

.mmr-text h1{
    text-align:center;
    font-size: 50px;
    color: var(--bgtext);

}

.mmr-cards {
    display: flex;
    width:max-content;
    animation: scroll 40s linear infinite ;
    flex-shrink: 0;
    padding: 20px;
}

.mmr-cards img {
    border-radius: 20px;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-90%);
    }
}
.card img{
    width: 400px;
    height: 300px;
    object-fit:cover;
}

.mmr-cards img:hover{
    
}

/* /////////////// contact /////////////// */

.contact {
    background-color: var(--title);
}

.contact h1 {
    text-align: center;
    color: var(--bgtext);
    font-size: 50px;
    padding:0px;
}

.contact {
    padding:50px;
    width:100%;

}

.social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 100px;
    text-align: center;
    gap:5px;
    padding: 20px;

}

.social a{
    color:black;
    background-color: var(--bg);
    border-radius:30px;
    max-width:100vh;
}

/* /////////////// Aboutme //////////////////////// */

.aboutme h1{
    text-align: center;
    font-size: 50px;
    padding: 50px;
    color: var(--textcolor);
}

.abm-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items:center;
}

.abm-card img {
    width: 200px;
    height: auto;
    border-radius: 70px;
    margin-bottom:20px ;
}

.abm-text {
    align-items: center;
    text-align:center;
}

.abm-text p {
    margin-bottom: 20px;
    color: var(--textcolor);
}
